.alert {
    padding-right: 0;
    max-width: 25%;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 9999999;
}

.alert-danger {
    border-left: 5px red solid;
}

.alert-success {
    border-left: 5px green solid;
}