<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Crate task</h1>
            <form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea type="text" matInput formControlName="description" rows="10" cols="200"></textarea>
                </mat-form-field >
                <div formArrayName="definitionOfDone">
                    <mat-label>Definition of Done</mat-label>
                    <mat-form-field *ngFor="let dod of definitionOfDone.controls; let i=index" appearance="fill" class="w-100">
                        <input type="text" matInput [formControlName]="i" rows="10" cols="200">
                    </mat-form-field >
                    <button type="button" mat-stroked-button (click)="addDefinitionOfDone()">add</button>
                    </div>
               <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Duration</mat-label>
                    <input type="number" matInput formControlName="duration" rows="10" cols="200">
                </mat-form-field >
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Responsable</mat-label>
                    <mat-select formControlName="user">
                        <mat-option *ngFor="let option of responsables" [value]="option.value">{{option.label}}</mat-option>
                    </mat-select>
                </mat-form-field >
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choose a sprint</mat-label>
                    <mat-select formControlName="sprint" (selectionChange)="onSprintSelected()">
                        <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">{{sprint.name}}</mat-option>
                    </mat-select>
                </mat-form-field >
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>User Story</mat-label>
                    <mat-select formControlName="userStory">
                        <mat-option *ngFor="let us of userStories" [value]="us.id">{{us.summary}}</mat-option>
                    </mat-select>
                </mat-form-field >
                <button type="submit" mat-stroked-button [disabled]="taskFormGroup.invalid">create</button>
                <button type="button" mat-stroked-button>cancel</button>
            </form>
        </div>
    </div>
</div>