<div class="container">
    <div class="row">
        <div class="col">
            <h2 mat-dialog-title class="text-center">{{ componentName + '.title' | translate }}</h2>
            <form [formGroup]="sprintForm" (ngSubmit)="onValidate()">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ componentName + '.name' | translate }}</mat-label>
                    <input type="text" matInput formControlName="name" required minlength="2">
                    <mat-error *ngIf="name != null && name.hasError('required')">
                        {{ 'Global.requiredField' | translate }}
                    </mat-error>
                    <mat-error *ngIf="name != null && name.hasError('minlength')">
                        {{ 'Global.minCharacterError' | translate:{value: 2} }}
                    </mat-error>
                </mat-form-field >

                <button mat-stroked-button type="submit" [class.text-primary]="sprintForm.valid" class="mr-1 mt-4" [disabled]="sprintForm.invalid">
                    {{ 'Global.validateButton' | translate }}
                </button>
                <button mat-stroked-button mat-dialog-close type="button" class="text-danger" >{{ 'Global.cancelButton' | translate }}</button>
            </form>
        </div>
    </div>
</div>
