<div class="container">
    <div class="row justify-content-center">
        <div class="col-4  bloc">
            <h3 class="text-center">Change password</h3>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your new password</mat-label>
                <input matInput [formControl]="password" [type]="hidePassword ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')">
                    password required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Confirme your passowrd</mat-label>
                <input matInput [formControl]="confirmPassword" [type]="hidePassword ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="confirmPassword.hasError('required')">
                    password required
                </mat-error>
            </mat-form-field>
            <button mat-stroked-button class="w-100" (click)='onValidate()' [disabled]='password.invalid || confirmPassword.invalid'>validate</button>
        </div>
    </div>
</div>
