<div class="container">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center">
            <h1 class="text-center">{{ componentName + '.componentTitle' | translate }}</h1>
            <div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ componentName + '.projectNameLabel' | translate }}</mat-label>
                    <input matInput [formControl]="projectName" minlength="2">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ componentName + '.projectDescriptionLabel' | translate }}</mat-label>
                    <input matInput [formControl]="projectDescription">
                </mat-form-field>
            </div>
            <button mat-stroked-button class="mx-auto w-25"
                    (click)="onAddProject()"
                    [disabled]="!isValidForm()">
                    {{ global + '.createButton' | translate }}
            </button>
        </div>
    </div>
</div>