<div class="row my-3" *ngIf="activities != null && activities.length > 0">
    <div class="col">
        <div class="d-flex justify-content-between">
            <h2>Activities</h2>
            <button mat-stroked-button class="text-primary" (click)="showActivities = !showActivities">{{ showActivities ? "Hide Activities" : "Show Activities" }}</button>
        </div>
        <div *ngIf="showActivities">
            <mat-list>
                <mat-list-item *ngFor="let activity of activities">
                    <h3 matLine> <span style="font-weight: bold;">{{activity.modifiedBy}}</span> {{ activity.comment }} </h3>
                    <span matLine class="text-sm">{{activity.date}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
