<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h2 class="text-center">{{ componentName + '.title' | translate }}</h2>
            <p class="my-3">{{ componentName + '.help' | translate }}</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{ componentName + '.emailLabel' | translate }}</mat-label>
                <input matInput [formControl]="emailFormControl" type="email" required>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    {{ global + '.requiredField' | translate }}
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('email')">
                    {{ global + '.requiredField' | translate }}
                </mat-error>
            </mat-form-field>

            <button mat-stroked-button class="w-100 m-y" (click)='onValidate()' [disabled]='emailFormControl.invalid'>
                {{ global + '.validateButton' | translate }}
            </button>
        </div>
    </div>
</div>