<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center">Signup</h1>
            <form [formGroup]="signupFormGroup" (ngSubmit)="onSignup()">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" required>
                    <mat-error *ngIf="email?.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field >

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Pseudo</mat-label>
                    <input type="text" matInput formControlName="pseudo" required>
                    <mat-error *ngIf="pseudo?.hasError('required')">
                        Please enter a valid pseudo
                    </mat-error>
               </mat-form-field >

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button mat-stroked-button type="submit" [disabled]='!signupFormGroup.valid'>login</button>
            </form>
        </div>
    </div>
</div>
