<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <h3> {{ componentName + '.componentTitle' | translate}}</h3>
            <div class="action-buttons">
                <button mat-stroked-button (click)="onSaveProjectDetails()" class="text-primary mx-2">{{ global + '.validateButton' | translate }}</button>
                <button mat-stroked-button mat-dialog-close type="button" class="text-danger">{{ global + '.cancelButton' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="{{ componentName + '.homeTab' | translate }}" class="my-2">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="w-100 mt-2 mx-auto">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>{{ componentName + '.projectName' | translate }}</mat-label>
                                <input matInput [formControl]="projectName" minlength="2">
                            </mat-form-field>
                        </div>
                        <div class="w-100 mx-auto">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>{{ componentName + '.projectDescription' | translate }}</mat-label>
                                <textarea matInput [formControl]="projectDescription"></textarea>
                            </mat-form-field>
                        </div>
                   </div>
               </mat-tab>
            <mat-tab label="{{ componentName + '.manageUsers' | translate }}">
                <!-- send invitation -->
                <div class="bloc">
                    <h3>{{ componentName + '.addUserToProject' | translate }}</h3>
                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>{{ componentName + '.firstname' | translate }}</mat-label>
                            <input matInput [formControl]="userFirstName" minlength="2">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="mx-2">
                            <mat-label>{{ componentName + '.lastname' | translate }}</mat-label>
                            <input matInput [formControl]="userLastName" class="mx-2" minlength="2">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ componentName + '.pseudo' | translate }}</mat-label>
                            <input matInput [formControl]="userPseudo" minlength="2">
                        </mat-form-field>
                        <button mat-stroked-button (click)="onSearchUsers()" class="mx-2 text-primary">{{ global + '.searchButton' | translate }}</button>
                    </div>
                    <div *ngIf="users != null  && users.length > 0">
                        <p-table [value]="users" 
                                [(selection)]="selectedUsers" dataKey="id"
                                [scrollable]="true" scrollHeight="200px"
                                styleClass="p-datatable-sm">
                            <ng-template pTemplate="caption" class="d-flex justify-content-right">
                                <button *ngIf="selectedUsers.length > 0"
                                    mat-stroked-button 
                                    (click)="onSendInvitations()" 
                                    class="text-primary">
                                    {{ searchUserTable + '.sendInvitationButton' | translate }}
                                </button>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>{{ searchUserTable + '.firstname' | translate }}</th>
                                    <th>{{ searchUserTable + '.lastname' | translate }}</th>
                                    <th>{{ searchUserTable + '.pseudo' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                                    </td>
                                    <td>{{row.firstname}}</td>
                                    <td>{{row.lastname}}</td>
                                    <td>{{row.pseudo}}</td>
                            </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <!-- project users -->
                <div class="bloc">
                    <p-table [value]="projectUsersDataTable" styleClass="p-datatable-sm" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">{{ participantsTableName + '.title' | translate }}</ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ participantsTableName + '.pseudo' | translate }}</th>
                                <th>{{ participantsTableName + '.manager' | translate }}</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>{{row.pseudo}}</td>
                                <td>
                                    <input type="checkbox" [checked]="row.isManager" (change)="onUpdateisManager(row)">
                            </td>
                                <td *ngIf="projectUsersDataTable.length > 1">
                                    <mat-icon (click)="onDeleteUser(row)" style="cursor: pointer;">delete_forever</mat-icon>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </mat-tab>
        </mat-tab-group>

        </div>
    </div>
</div>
