<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-between mb-2">
            <h1>{{ getComponentName() + ".projects" | translate }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="bloc mb-5">
                <p-table [value]="projects" 
                        responsiveLayout="scroll"
                        styleClass="p-datatable-sm"
                        class="bg-primary">
                    <ng-template pTemplate="caption">
                        <div class="d-flex justify-content-between">
                            <h3>Your projects</h3>
                            <button mat-stroked-button (click)="onOpenAddProjectDialog()">add project</button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:20%">
                            <col style="width:60%">
                            <col style="width:10%">
                            <col style="width:5%">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>description</th>
                            <th>managers</th>
                            <th>xxx</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td class="link" (click)='onClickOnProject(row.projectId)'>{{row.projectId}}</td>
                            <td>{{row.projectName}}</td>
                            <td>{{row.projectDescription}}</td>
                            <td>
                                <ng-container *ngFor="let manager of row.projectManagers">
                                    {{ manager.pseudo }}<br>
                                </ng-container>
                            </td>
                            <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onOpenProjectDetails(row)">
                                        <span>details</span>
                                    </button>
                                    <button mat-menu-item (click)="onMoveProjectToDraft(row.projectId)">
                                        <span>delete</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan = "5" class="text-center">
                                No projects
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <ng-template #emptyProjects>
                    Vous ne participez à aucun projet actuellement
                </ng-template>
            </div>

            <div class="bloc">
                <h3>Invitations</h3>
                <div *ngIf="selectedInvitations.length > 0" class="mb-2">
                    <button mat-stroked-button class="text-success" (click)="onAcceptInvitations()">accept</button>
                    <button mat-stroked-button class="text-danger" (click)="onDeleteInvitations()">delete</button>
                </div>
                <p-table [value]="invitations" 
                        [(selection)]="selectedInvitations" dataKey="invitationToProjectId"
                        (onRowSelect)="onRowSelect($event)"
                        (onRowUnselect)="onRowUnselect($event)"
                        responsiveLayout="scroll"
                        styleClass="p-datatable-sm"
                        class="bg-primary">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>name</th>
                            <th>description</th>
                            <th>inivation author</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="row"></p-tableCheckbox>
                            </td>
                            <td>{{row.projectName}}</td>
                            <td>{{row.projectDescription}}</td>
                            <td>{{row.authorPseudo}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan = "4" class="text-center">
                                No Invitations
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>
        </div>
    </div>
</div>
