/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialogTitle {
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.inline-form > * {
    width: 100%;
    margin: 5px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.pm-pointer:hover {
    cursor: pointer;
}

.movable {
    cursor: move;
}

.p-calendar {
    width: 35%;
}

.action-buttons > * {
    margin-right: 2px;
}

.bloc {
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 5px gray;
}

.table-action button {
    margin-left: 5px;
}

.action-icon :hover {
    cursor: pointer;
}