<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <h2>Backlog</h2>
            </div>
        </div>
    </div>
    <div class="row" cdkDropListGroup>
        <div class="col" style="max-height: 750px; overflow-y: auto;">
           <!-- sprints -->
            <ng-container *ngFor="let sprintWrapper of sprintWrappers">
                <mat-expansion-panel 
                    *ngIf="sprintWrapper.sprint.status !== 'CLOSED'"
                    class="my-1" 

                >
                    <mat-expansion-panel-header>
                        {{ sprintWrapper.sprint.name }}
                    </mat-expansion-panel-header>
                    <p-table [value]="sprintWrapper.sprint.userStories" 
                            [(selection)]="selectedUserStoriesFromSprint"
                            responsiveLayout="scroll"
                            styleClass="p-datatable-striped p-datatable-sm"
                            cdkDropList
                            [cdkDropListData]="sprintWrapper.sprint.userStories"
                            (cdkDropListDropped)="dropInSprint($event)"
                            >
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-between">
                                <div class="flex-grow-1">
                                    <p-calendar [(ngModel)]="sprintWrapper.sprintRangeDates"
                                                [showTime]="true" [showButtonBar]="true" selectionMode="range" 
                                                dataFormat="yyyy-mm-dd">
                                    </p-calendar>
                                    <p-badge matTooltip="total story points" severity="info" styleClass="p-mr-2" [value]="sprintWrapper.totalStoryPoints"></p-badge>
                                    <p-badge matTooltip="todo" class="mx-1" severity="success" styleClass="p-mr-2" [value]="sprintWrapper.totalClosedUserStoriesStoryPoints"></p-badge>
                                    <p-badge matTooltip="done" severity="danger" styleClass="p-mr-2" [value]="sprintWrapper.totalOpenedUserStoriesStoryPoints"></p-badge>
                                </div>
                                <div class="table-action">
                                    <button *ngIf="selectedUserStoriesFromSprint.length > 0" class="text-danger" mat-stroked-button (click)=onDeleteSelectedSprintsUserStories(sprintWrapper)>delete U.S</button>
                                    <button *ngIf="selectedUserStoriesFromSprint.length > 0" class="text-primary" mat-stroked-button (click)=onCloseSelectedSprintsUserStories()>Close U.S</button>
                                    <button *ngIf="selectedUserStoriesFromSprint.length > 0" class="text-primary" mat-stroked-button (click)=onOpenSelectedSprintsUserStories()>Open U.S</button>
                                    <button mat-stroked-button class="text-primary" (click)=onOpenCreateUserStoryDialogFromSprint(sprintWrapper.sprint.id)>create U.S</button>
                                    <button class="text-primary" *ngIf="sprintWrapper.sprint.status === 'CREATED'; else terminate" mat-stroked-button 
                                            (click)="onStartSprint(sprintWrapper)"
                                            [disabled]="sprintWrapper.sprintRangeDates[0] == null || sprintWrapper.sprintRangeDates[1] == null">
                                        Start
                                    </button>
                                    <ng-template  #terminate>
                                        <button class="text-danger" mat-stroked-button (click)="onTerminateSprint(sprintWrapper)">Terminate</button>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:5%">
                                <col style="width:5%">
                                <col style="width:60%">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:10%">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th>ID</th>
                                <th>summary</th>
                                <th>storyPoint</th>
                                <th>Importance</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr cdkDrag>
                                <td>
                                    <p-tableCheckbox [value]="row"></p-tableCheckbox>
                                </td>
                                <td>{{row.id}}</td>
                                <td (click)="onOpenUserStory(row)">{{row.summary}}</td>
                                <td>{{row.storyPoint}}</td>
                                <td>{{row.importance}}</td>
                                <td>{{row.status}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
    
                </mat-expansion-panel>
            </ng-container>
            <!-- backlog-->
            <mat-expansion-panel  [expanded]="true">
                <mat-expansion-panel-header> Backlog </mat-expansion-panel-header>
                <p-table [value]="userStories" [(selection)]="selectedUserStoriesFromBacklog"
                        cdkDropList
                        styleClass="p-datatable-sm"
                        [cdkDropListData]="userStories"
                        (cdkDropListDropped)="dropInBacklog($event)"
                >
                    <ng-template pTemplate="caption">
                        <div class="d-flex flex-row justify-content-between">
                            <div>
                                <span style="vertical-align:baseline;">Backlog</span>
                            </div>
                            <div class="table-action">
                                <button *ngIf="selectedUserStoriesFromBacklog.length > 0" class="text-danger" mat-stroked-button (click)=onDeleteSelectedBacklogUserStories()>delete U.S</button>
                                <button mat-stroked-button class="text-primary" (click)=onOpenCreateUserStoryDialogFromBacklog()>create U.S</button>
                                <button mat-stroked-button class="text-primary" (click)=onOpenCreateSprintDialog()>create sprint</button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:65%">
                            <col style="width:15%">
                            <col style="width:10%">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>ID</th>
                            <th>summary</th>
                            <th class="d-flex justify-content-between">
                                storyPoint
                                <p-badge severity="success" styleClass="p-mr-2" [value]="backlogTotalStoryPoints"></p-badge></th>
                            <th>Importance</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr cdkDrag>
                            <td>
                                <p-tableCheckbox [value]="row"></p-tableCheckbox>
                            </td>
                            <td>{{row.id}}</td>
                            <td (click)="onOpenUserStory(row)">{{row.summary}}</td>
                            <td>{{row.storyPoint}}</td>
                            <td>{{row.importance}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan = "3">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-expansion-panel>
        </div>
    </div>
</div>