<div class="container d-flex" style="height: 100%;">
    <div class="row d-flex my-auto mx-auto">
        <div class="col d-flex flex-column justify-content-center" style="background-color: white; border-radius: 15px; padding: 10px">
            <h3 style="font-weight: bold;">Réitialize your password with email</h3>
            <p>- Enter your address eamail</p>
            <p>- You will receive an link</p>
            <p>- Click on that link and set your new password</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput [formControl]="userEmail" required>
                <mat-error *ngIf="userEmail?.hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="userEmail?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field >
            <button class="mt-3" mat-stroked-button (click)='onValidate()' [disabled]="userEmail.invalid">Valider</button>
        </div>
    </div>
</div>