<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4 d-flex flex-column justify-content-center bloc">
            <h3 class="text-center">Reset Password</h3>
            <p>Enter your email address below and we'll send you a link to reset your password.</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput [formControl]="userEmail" required>
                <mat-error *ngIf="userEmail?.hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="userEmail?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field >
            <button class="m-3" mat-stroked-button (click)='onValidate()' [disabled]="userEmail.invalid">Reset Password</button>
            <div class="d-flex justify-content-between">
                <span class="link" (click)="gotoLoginComponent()">Log in</span>
                <span class="link" (click)="gotoSignupComponent()">Sign up</span>
            </div>
        </div>
    </div>
</div>